*{
  margin:0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.app{
  width: 100vw;
  height: 100vh;
}
.app-header{
  width: 100vw;
  text-align: center;
  padding: 30px;
  padding-bottom: 0;
  background-color: #222;
  color: #eeee;
}
.app-header > h1{
  font-size: 3em;
}
.inputs-container{
  padding: 20px 0 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
 label{
  display: flex;
  align-items: center;
  gap: 10px;
}
.input-number, .input-height, .input-width{
  width:40px;
}
.button-add-button{
  border: none;
  width:180px;
  height: 29px;
  font-size: 1.2em;
  font-weight: 600;
  border-radius: 4px;
}
.app-cards-container{
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}